!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:description => page[:description]}
    %title= "#{global[:title]} - #{page[:title]}"
    %link{:href => "/stylesheets/styles.css", :rel => "stylesheet", :type => "text/css"}
  %body{:class => env[:path].gsub('/','') }
    %img{:src=> "http://dl.dropbox.com/u/1343338/tiny-site-files/images/tinysite.png", :class => 'logo'}
    %nav
      %ul
        - global[:navigation].each do |url,name|
          %li
            %a{ :href => url==:index ? '/' : url , :class => env[:path]=="/#{url}" ? 'active' : '' }
              = name
    
    ~ page['body']
