!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:description => page[:description]}
    %title= "#{global[:title]} - #{page[:title]}"
    %link{:href => "/stylesheets/styles.css", :rel => "stylesheet", :type => "text/css"}
  %body{:class => env[:path].gsub('/','') }
    %img{:src=> "https://dl.dropbox.com/s/d55gpsn2e4196uh/images/tinysite.png?dl=1", :class => 'logo'}
    %nav
      %ul
        - global[:navigation].each do |url,name|
          %li
            %a{ :href => url==:index ? '/' : url , :class => env[:path]=="/#{url}" ? 'active' : '' }
              = name
    
    ~ page['body']
    
    %hr
    
    #disqus_thread
    :javascript
      var disqus_shortname = 'tinysite';
      var disqus_identifier = "tinysite_#{env[:path].gsub('/','')}";
      var disqus_url = "http://tinysite.heroku.com#{env[:path]}";
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
      
